@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

button {
    all: unset;
}

body {
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: white;
}

header {
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

header h1 {
    color: black;
    padding: 10px;
}

main {
    flex: 1;
    margin: 20px 50px;
}

.headers-function {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.headers-function #btn-adicionar {
    background-color: #1e45b4;
    max-width: 240px;
    height: 2rem;
    text-align: center;
    padding: 0 10px;
    margin: 0 20px;
}
.input-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.headers-function input {
    height: 2rem;
    padding: 5px;
}

.headers-function #btn-pesquisar {
    all: unset;
    margin: 5px 0;
}

.headers-function #btn-pesquisar img {
    max-width: 24px;
}

table {
    margin: 5px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table #table-col-editar {
    width: 30px;
}

table .icon {
    height: 36px;
    padding: 5px 15px;
}

table .icon:hover {
    background-color: #275df1;
    border-radius: 5px;
}

table .cell-button {
    width: 200px;
}

thead th {
    padding: 10px;
    background-color: #1e45b4;
}

tbody {
    color: black;
}

td {
    padding: 8px;
}

table #btn-contato a {
    background-color: #1e45b4;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    white-space: preserve nowrap;
}

tr {
    background-color: #d9d9d9;
    margin: 5px;
}

tr:nth-child(even) {
    background-color: #e9e9e9;
}

footer {
    background-color: #1e45b4;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ff8000;
}

.show412 {
    display: none;
}

@media (min-width: 413px) {
    .show412 {
        display: table-cell;
    }
}

@media (max-width: 412px) {
    .headers-function {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    main {
        margin: 20px 20px;
    }
}

/* Estilizando o fundo do modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
}

/* Caixa do modal */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content .input-box {
    display: flex;
    flex-direction: column;
}

.modal-content .input-radio {
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.modal-content .input-box input {
    height: 25px;
    padding: 5px;
}

.modal-content button {
    background-color: #1e45b4;
    color: white;
    text-align: center;
    height: 2rem;
}
/* Botão de fechar */
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}
